<div class="nav ml-auto bg-light">
<button (click)="onGetAllProducts()" class="btn btn-outline-info btn-sm">All products</button>
<button (click)="onGetAvailableProducts()" class="btn btn-outline-info btn-sm">Available products</button>
<button (click)="onAddProduct()" class="btn btn-outline-info btn-sm">+ Add Product</button>


<form #f="ngForm" (ngSubmit)="onSearchProducts(f.value)">
  <div class="form-group">
    <input type="text" ngModel name="keyword" placeholder="Enter product name">
    <button class="btn btn-outline-success btn-sm"><span class="fa fa-search"></span></button>
  </div>
</form>
</div>
<table class="table container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Available</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let product of products$ |async" >
  <tr>
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.available}}</td>
    <td>
      <button class="btn btn-outline-info"
          [routerLink]="['/show-product', product.id]">
          <span class="fa fa-link"></span>
      </button>
      <button class="btn btn-outline-warning"
        [routerLink]="['/edit-product', product.id]">
       <span class="fa fa-edit"></span>
      </button>
      <button class="btn btn-outline-danger"
        (click)="onDeleteProduct(product)">
        <span class="fa fa-trash"></span>
    </button>
    </td>
  </tr>
  </tbody>
</table>
