<div class="container" *ngIf="productFormGroup">
  <br>
<form [formGroup]="productFormGroup">
  <div class="mb-3" id="productId">
    <label class="form-label">Id</label>
    <input type="text" class="form-control" formControlName="id">
  </div>
  <div class="mb-3">
    <label class="form-label">Product name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="mb-3">
    <label class="form-label">Price</label>
    <input type="number" min="1" class="form-control" formControlName="price">
  </div>
  <div class="mb-3">
    <label class="form-label">Quanrity</label>
    <input type="number" min="1" class="form-control" formControlName="quantity">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" formControlName="available">
    <label class="form-check-label" for="exampleCheck1">Aivalable</label>
  </div>
  <button type="submit" class="btn btn-success" (click)="onUpdateProduct()">Update</button> 
  <button type="submit" class="btn btn-outline-info" (click)="onUpdateProduct()" routerLink="/products">Cancel</button>
</form>
</div>

