<div class="container" *ngIf="productFormGroup">
  <br>
<form [formGroup]="productFormGroup">
  <div class="mb-3">
    <label class="form-label">Product name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Product name"
     [ngClass]="{'is-invalid': submitted && productFormGroup.controls.name.errors}">
    <span class = "error-message" *ngIf="submitted && productFormGroup.controls.name.errors?.required">
      This field is required.
    </span>
    <span class = "error-message" *ngIf="submitted && (productFormGroup.controls.name.errors?.minlength ||
    productFormGroup.controls.name.errors?.maxlength)">
      Product name must have between 3 and 50 characters.
    </span>
  </div>
  <div class="mb-3">
    <label class="form-label">Price</label>
    <input type="number" class="form-control" formControlName="price"
     [ngClass]="{'is-invalid': submitted && productFormGroup.controls.price.errors}">
     <span class = "error-message" *ngIf="submitted && productFormGroup.controls.price.errors?.required">
      This field is required.
    </span>
     <span class = "error-message" *ngIf="submitted && productFormGroup.controls.price.errors?.min">
      You can't set a price less than 5 DH.
    </span>
  </div>
  <div class="mb-3">
    <label class="form-label">Quantity</label>
    <input type="number" class="form-control" formControlName="quantity"
    [ngClass]="{'is-invalid': submitted && productFormGroup.controls.quantity.errors}">
    <span class = "error-message" *ngIf="submitted && productFormGroup.controls.quantity.errors?.required">
      This field is required.
    </span>
     <span class = "error-message" *ngIf="submitted && productFormGroup.controls.quantity.errors?.min">
      The minimal quantity allowed is 1.
    </span>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" formControlName="available">
    <label class="form-check-label" for="exampleCheck1">Aivalable</label>
  </div>
  <button type="submit" class="btn btn-success" (click)="onSaveProduct()">Save</button>
  <button type="submit" routerLink="/products" class="btn btn-outline-info">Cancel</button>
</form>
</div>

