@import "~font-awesome/css/font-awesome.min.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-message {
  color: #dc3545;
  font-style: oblique;
}
